@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to LDS Movies</h2>

<p>Enjoy movies about related to the Church of Jesus Christ of Latter-Day Saints? Learn about movies about and for Latter-Day Saints with this database of movies.</p>
<p><a asp-controller="Movies" asp-action="Index">View movies</a></p>
